@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.grey-box-bg {
	background-color: rgb(100, 100, 100);
	display: grid;
	place-items: center;
}

.logo:hover {
	padding: 0%;
	background-color: violet;
	border-radius: 6%;
}

.nav-links {
	font-family: 'Courier New', Courier, monospace;
	list-style: none;
	display: flex;
}

.nav-item a {
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	color: rgb(40, 40, 40);
}

.nav-item:hover {
	background-color: violet;
	border-radius: 6%;
}

.nav-item:hover a {
	color: rgb(40, 40, 40);
}

.nav-item:active {
	background-color: #5D9FD4;
  }

  #video {
	display: none;
	border-radius: 1%;
	width:inherit;
	height:inherit;
	max-width: 640px;
  }

  #photo {
	justify-content: center;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1vmin;
  }
  
  #photo input {
	border-radius: 1%;
	width: 100%;
  }

  #photo input:focus {
	  border: 2vmin violet;
  }
  
  #canvas {
	display:none;
  }

  .contentarea {
	font-size: 16px;
	width: 760px;
  }

  #drop-area {
	border: 2px dashed #ccc;
	border-radius: 20px;
	width: 480px;
	font-family: sans-serif;
	margin: 100px auto;
	padding: 20px;
  }

  #drop-area.highlight {
	border-color: purple;
  }

  .main {
	min-height: 100%;
	margin-bottom: 3vh;
  }
  .push {
	height: 6vh;
  }

  .footer {
	padding-top: 5%;
	bottom: 0;
	position: fixed;
	width: 100%;
	left: 0;
	background-color: #e9ecef;
	z-index: 20;
  }

  .stickers {
	height: 15vmin;
  }

  #stickerCanvas {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	z-index: 10;
  }